body {
    margin: 0px;
}


.area {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f8f8f8;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #686868;
}

.ball{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 15%;
    width: 40rem;
    height: 20rem;
    z-index: 1;
}

.shadow-ball {
    top: 70%;
    position: absolute;
    height: 10rem;
    width: 30rem;
    border-radius: 50%;
    background: radial-gradient(closest-side, #FFFF, #797979, #000000);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .9);
    z-index: 0;
}

.top-ball {
    position: absolute;
    top: 0%;
    width: 20rem;
    height: 10rem;
    border-radius: 225px 225px 0px 0px;
    background-color:  #ee3d3d;
    animation: treme 1.5s infinite 5s;
    animation: bounce 2s 2 alternate;
    z-index: 2;
}

.top-ball-light-1{
    position: relative;
    top: 4rem;
    width: 2rem;
    height: 4rem;
    margin-left: 72%;
    background-color: white;
    border-radius: 100%;
    opacity: 25%;
    transform: rotate(145deg);
}

.top-ball-light-2{
    position: relative;
    top: 5rem;
    width: 2rem;
    height: 2rem;
    margin-left: 84%;
    background-color: white;
    border-radius: 100%;
    opacity: 25%;
    transform: rotate(145deg);
}

.bottom-ball {
    top: 50%;
    position: absolute;
    width: 20rem;
    height: 10rem;
    border-radius: 0px 0px 225px 225px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .9);
    background-color: white;
    animation: treme 1.5s infinite 5s;
    animation: bounce 2s 2 alternate;
}

.curve-ball {
    display: flex;
    justify-content: center;
    align-items: center;

    top: -4rem;
    position: relative;
    width: 20rem;
    height: 7rem;
    border-radius: 150%;
    background-color: #ee3d3d;
    border-bottom-width: 1.4rem;
    border-bottom-style: solid;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .9);
}

.button-active {
    top: 78%;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border: 1rem solid black;
    border-radius: 100%;
    box-shadow: 0 2px 4px 0 rgba(231, 224, 224);
    /* animation: treme 1.5s infinite 5s;
    animation: bounce 3s 2; */
    z-index: 3;

}

.button-active-light {
    position: relative;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    animation: changeBackgroundColor 1s infinite 5s;
    z-index: 4;
}




@keyframes changeBackgroundColor {
    0% {
        background-color: white;
    }

    50% {
        background-color: rgb(245, 91, 91);
    }

    100% {
        background-color: white;
    }
}

@keyframes treme {
    0% {
        margin-left: 0;
    }

    6% {
        margin-left: 5px;
    }

    12% {
        margin-left: 0;
    }

    18% {
        margin-left: -5px;
    }

    24% {
        margin-left: 0;
    }
}

@keyframes bounce {
    from {
      transform: translateY(-400%);
    }
    to {
      transform: translateY(0%);
    }
  }