@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.screen{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    transition: .5s;
}

main{
    transform: scale(0);
}

.menu{
    position: absolute;
    top: 25vh;
    left: 25vw;
    height: 55vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Righteous', cursive;
}

.menu h1{
    font-size: 6rem;
    margin-top: 0;
}

.menu div{
    font-size: 1.5rem;
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu div p{
    margin: 0;
    padding: .5rem 3rem;
    border-radius: 50px;
    transition: .2s;
    cursor: pointer;
    text-decoration: none;
    color: #222;
}

.menu div p:hover{
    transform: scale(1.1) translateY(-10%);
    filter: brightness(.5);
    box-shadow: 0px 5px 2px 0px #555;
}

.new-game{
    background-color: #ced6ff;
    transform: scale(0);
}

.area {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f8f8f8;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #686868;
}

.area-ball{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 15%;
    width: 40rem;
    height: 20rem;
    z-index: 1;
}

.ball{
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: treme 1.5s infinite; */
}

.top-ball {
    position: absolute;
    top: 0%;
    width: 20rem;
    height: 10rem;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width:  0.1rem;
    border-radius: 225px 225px 0px 0px;
    background-color:  #ee3d3d;
    z-index: 2;
}

.top-ball-light-1{
    position: relative;
    top: 4rem;
    width: 2rem;
    height: 4rem;
    margin-left: 72%;
    background-color: white;
    border-radius: 100%;
    opacity: 25%;
    transform: rotate(145deg);
    z-index: 3;
}

.top-ball-light-2{
    position: relative;
    top: 5rem;
    width: 2rem;
    height: 2rem;
    margin-left: 84%;
    background-color: white;
    border-radius: 100%;
    opacity: 25%;
    transform: rotate(145deg);
    z-index: 3;
}

.bottom-ball {
    top: 50%;
    position: absolute;
    width: 20rem;
    height: 10rem;
    border-radius: 0px 0px 225px 225px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .9);
    background-color: white;
    z-index: 1;
}

.curve-ball {
    display: flex;
    justify-content: center;
    align-items: center;

    top: -4rem;
    position: relative;
    width: 20rem;
    height: 7rem;
    border-radius: 150%;
    background-color: #ee3d3d;
    border-bottom-width: 1.4rem;
    border-bottom-style: solid;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .9);
    z-index: 0;
}

.button-active {
    top: 78%;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border: 1rem solid black;
    border-radius: 100%;
    box-shadow: 0 2px 4px 0 rgba(231, 224, 224);
    /* animation: treme 1.5s infinite; */
    z-index: 3;

}

.button-active-light {
    position: relative;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    /* animation: changeBackgroundColor 1s infinite; */
    z-index: 4;
}

.shadow-ball{
    position: absolute;
    z-index: 5;
    width: 17rem;
    height: 20rem;
    border-radius: 100%;
    border-left-style: solid;
    border-left-width: 3rem;
    border-left-color: black;
    opacity: 20%;
}

.shadow-floor {
    top: 70%;
    position: absolute;
    height: 10rem;
    width: 30rem;
    border-radius: 50%;
    background: radial-gradient(closest-side, #FFFF, #797979, #000000);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .9);
    z-index: 0;
}




@keyframes changeBackgroundColor {
    0% {
        background-color: white;
    }

    50% {
        background-color: rgb(245, 91, 91);
    }

    100% {
        background-color: white;
    }
}

@keyframes treme {
    0% {
        margin-left: 0;
    }

    6% {
        margin-left: 5px;
    }

    12% {
        margin-left: 0;
    }

    18% {
        margin-left: -5px;
    }

    24% {
        margin-left: 0;
    }
}

